@import "animation";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__note {
    position: absolute;
    width: 260px;
    height: 340px;
    top: 10%;
    left: 40%;

    img {
      width: 100%;
      height: 100%;
      transform-origin: bottom center;
    }

    @media (max-width: 860px) {
      width: 130px;
      height: 170px;
      top: 30%;
    }

    @media (max-width: 500px) {
      width: 120px;
      height: 150px;
      top: 30%;
      left: 35%;
    }
  }

  &__image--1 {
    animation: spread-1 1s linear 0 forwards;
  }

  &__image--2 {
    animation: spread-2 1s linear 0.5 forwards;
  }

  &__image--3 {
    animation: spread-3 1s linear 2s forwards;
  }

  &__image--4 {
    animation: spread-4 1s linear 3s forwards;
  }

  &__image--5 {
    animation: spread-5 1s linear 4s forwards;
  }

  &__image--6 {
    animation: spread-6 1s linear 5s forwards;
  }

  &__image--7 {
    animation: spread-7 1s linear 6s forwards;
  }

  &__image--8 {
    animation: spread-8 1s linear 7s forwards;
  }

  &__image--9 {
    animation: spread-9 1s linear 8s forwards;
  }

  &__image--10 {
    animation: spread-10 1s linear 9s forwards;
  }

  &__image--11 {
    animation: spread-11 1s linear 10s forwards;
  }

  &__image--12 {
    animation: spread-12 1s linear 11s forwards;
  }

  &__image--13 {
    animation: spread-13 1s linear 12s forwards;
  }

  &__image--14 {
    animation: spread-14 1s linear 13s forwards;
  }

  &__image--15 {
    animation: spread-15 1s linear 14s forwards;
  }

  &__image--16 {
    animation: spread-16 1s linear 15s forwards;
  }

  &__image--17 {
    animation: spread-17 1s linear 16s forwards;
  }

  &__image--18 {
    animation: spread-18 1s linear 17s forwards;
  }

  &__image--19 {
    animation: spread-19 1s linear 18s forwards;
  }

  &__image--20 {
    animation: spread-20 1s linear 19s forwards;
  }

  &__image--21 {
    animation: spread-21 1s linear 20s forwards;
  }

  &__image--22 {
    animation: spread-22 1s linear 21s forwards;
  }

  &__image--23 {
    animation: spread-23 1s linear 22s forwards;
  }
}

// Animation
@include dollarSpreadAnimation(spread-1, 15deg);
@include dollarSpreadAnimation(spread-2, 30deg);
@include dollarSpreadAnimation(spread-3, 45deg);
@include dollarSpreadAnimation(spread-4, 60deg);
@include dollarSpreadAnimation(spread-5, 75deg);
@include dollarSpreadAnimation(spread-6, 90deg);
@include dollarSpreadAnimation(spread-7, 105deg);
@include dollarSpreadAnimation(spread-8, 120deg);
@include dollarSpreadAnimation(spread-9, 135deg);
@include dollarSpreadAnimation(spread-10, 150deg);
@include dollarSpreadAnimation(spread-11, 165deg);
@include dollarSpreadAnimation(spread-12, 180deg);
@include dollarSpreadAnimation(spread-13, 195deg);
@include dollarSpreadAnimation(spread-14, 210deg);
@include dollarSpreadAnimation(spread-15, 225deg);
@include dollarSpreadAnimation(spread-16, 240deg);
@include dollarSpreadAnimation(spread-17, 255deg);
@include dollarSpreadAnimation(spread-18, 270deg);
@include dollarSpreadAnimation(spread-19, 285deg);
@include dollarSpreadAnimation(spread-20, 300deg);
@include dollarSpreadAnimation(spread-21, 315deg);
@include dollarSpreadAnimation(spread-22, 330deg);
@include dollarSpreadAnimation(spread-23, 345deg);
