*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__note {
    position: absolute;
    width: 260px;
    height: 340px;
    top: 10%;
    left: 40%;

    img {
      width: 100%;
      height: 100%;
      transform-origin: bottom center;
    }
  }

  &__image--1 {
    transform: rotateZ(-15deg);
  }

  &__image--2 {
    transform: rotateZ(15deg);
    transition: transform 1s;
  }

  &__image--3 {
    transform: rotateZ(30deg);
    transition: transform 1s 2s;
  }

  &__image--4 {
    transform: rotateZ(45deg);
    transition: transform 1s 3s;
  }

  &__image--5 {
    transform: rotateZ(60deg);
    transition: transform 1s 4s;
  }

  &__image--6 {
    transform: rotateZ(75deg);
    transition: transform 1s 5s;
  }

  &__image--6 {
    transform: rotateZ(90deg);
    transition: transform 1s 6s;
  }

  &__image--7 {
    transform: rotateZ(105deg);
    transition: transform 1s 7s;
  }

  &__image--8 {
    transform: rotateZ(120deg);
    transition: transform 1s 8s;
  }

  &__image--9 {
    transform: rotateZ(135deg);
    transition: transform 1s 9s;
  }

  &__image--10 {
    transform: rotateZ(150deg);
    transition: transform 1s 10s;
  }

  &__image--11 {
    transform: rotateZ(175deg);
    transition: transform 1s 11s;
  }

  &__image--12 {
    transform: rotateZ(190deg);
    transition: transform 1s 12s;
  }

  &__image--13 {
    transform: rotateZ(205deg);
    transition: transform 1s 13s;
  }

  &__image--14 {
    transform: rotateZ(220deg);
    transition: transform 1s 14s;
  }

  &__image--15 {
    transform: rotateZ(235deg);
    transition: transform 1s 15s;
  }

  &__image--16 {
    transform: rotateZ(250deg);
    transition: transform 1s 16s;
  }

  &__image--17 {
    transform: rotateZ(265deg);
    transition: transform 1s 17s;
  }

  &__image--18 {
    transform: rotateZ(280deg);
    transition: transform 1s 18s;
  }

  &__image--19 {
    transform: rotateZ(295deg);
    transition: transform 1s 19s;
  }

  &__image--20 {
    transform: rotateZ(310deg);
    transition: transform 1s 20s;
  }

  &__image--21 {
    transform: rotateZ(325deg);
    transition: transform 1s 21s;
  }

  &__image--22 {
    transform: rotateZ(340deg);
    transition: transform 1s 22s;
  }
}

// Animation
@keyframes rotateAndSpread {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(15deg);
  }
}
