*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    ul {
        list-style-type: none;
        display: flex;
        
        li {
            font-size: 2.5rem;
            letter-spacing: 1.5rem;
            animation: loading 3s linear infinite alternate;

            @media only screen and (min-width: 400px) {
                font-size: 5rem;
            }

            @media only screen and (min-width: 500px) {
                font-size: 8rem;
            }

            /* Add the delays */
            &:nth-child(1) {
              animation-delay: 0s;
            }

            &:nth-child(2) {
              animation-delay: 0.2s;  
            }

            &:nth-child(3) {
              animation-delay: 0.4s;  
            }

            &:nth-child(4) {
              animation-delay: 0.6s;  
            }

            &:nth-child(5) {
              animation-delay: 0.8s;
            }

            &:nth-child(6) {
              animation-delay: 1s;
            }

            &:nth-child(7) {
              animation-delay: 1.2s;
            }
      
        }
    }
}

// Animation
@keyframes loading {
    0% {
      color: #2F80ED;
      transform: translateX(-4rem);
      letter-spacing: -2rem;
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      color: #20e3b2;
      transform: translateX(4rem);
      letter-spacing: 2rem;
      opacity: 0;
    }
}